Source: libsantricity-smcli-perl
Section: perl
Priority: optional
Maintainer: Rudy Gevaert <Rudy.Gevaert@UGent.be>
Build-Depends: debhelper (>= 8)
Build-Depends-Indep: perl
Standards-Version: 3.9.2
Homepage: http://search.cpan.org/dist/SANtricity-SMcli/
Vcs-Browser: https://github.com/rgevaert/SANtricity-SMcli

Package: libsantricity-smcli-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}
Description: perl interface to SMcli
 SANtricity::SMcli is a perl interface to Engenio's SMcli. It is also used in
 the Dell Powervault MD storage series. This release has been tested with
 SMcli version 10.80.G6.47 on GNU/Linux - it will probably work on any Unix
 system (and maybe windows), but some functions probably won't work with other
 versions of Santricity due to syntax changes. It currently offers a fairly
 small number of commands, which may be expanded as time and motivation allow.
 .
 All methods given here run the SMcli binary, so you need the correct
 permissions (or be root). Obviously it's quite possible to break your array
 configuration using the command line and therefore with this module. Things
 seem to work OK for me but there's no guarantee.
 .
 This description was automagically extracted from the module by dh-make-perl.
